.dropdown{
 display: flex;
flex-direction: column;
position: relative;
}

@media screen and (max-width:992px) {
 .dropdown{
  display:none
 }
}

.dropdown-content{
 display: none;
 position: absolute;
 z-index: 5;
 width: 100%;
 margin-top: 32px;
 padding: 30px 50px;
 background-color: white;
}


