.home {
  display: flex;
}
  .homeContainer {
    flex: 6;
  }
    .widgets,
    .charts {
      display: flex;
      padding: 40px;
      gap: 40px;
    }

     @media screen and (max-width: 1200px) {
  .widgets{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  }
    @media screen and (max-width: 1500px) {
  .charts{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  }

    .charts {
      padding: 5px 20px;
    }
