.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imageBox{
    width: 50%;
    /* border: 1px solid; */
}
.detail{
    width: 30%;
    margin-right: 20px;
    
}
.similar{
    width: 10%;
    margin-right: 4%;
    height: calc(128vh - 50px);
    overflow-y: scroll;
    position: sticky;
    display: flex;
    flex-direction: column;
    /* top: 50px; */
}
@media screen and (max-width: 1200px) {
  .imageBox{
    width: 45%;
}
.detail{
    width: 30%;  
}
.similar{
    width: 14%;
}
}
@media screen and (max-width: 800px) {
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .imageBox{
    width: 90%;
    margin: auto;
}
.detail{
    width: 90%;
    margin: auto;  
}
.similar{
    display: none;
}
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollba-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);
}


.button.active {
  background-color: black;
  color: white;
}

.button9.activeColor {
    border: 3px solid grey;
    padding: 5px;
}


.hr{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-top: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
}